# Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# Django / Python
/backend/venv/
/backend/__pycache__/
/backend/db.sqlite3
*.pyc

# IDEs
.idea/
.vscode/

# Media uploads
/backend/alunos/*
!/backend/alunos/.gitkeep
/backend/professores/*
!/backend/professores/.gitkeep
